<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head') %>
</head>

<body>
    <style>
        ul {
            padding-left: 2em;
        }
    
        li {
            line-height: 3;
        }
    </style>
    <ul>
    <li><a href="member_login"> login </a></li>
    <li><a href="member_reg"> register </a></li>
    <li><a href="member_forget_pw"> forget_password </a></li>
    <li><a href="wallet_mem_info"> home </a></li>
    <li><a href="orders"> history </a></li>
    <li><a href="wallet_mem_add"> purchase </a></li>
    <li><a href="wallet_mem_reset_pw"> change_pay_password </a></li>
    <li><a href="member_set_new_pw"> change_password </a></li>
    <li><a href="wallet_mem_end"> return </a></li>
    <li><a href="wallet_mem_check"> deduct </a></li>
    </ul>
</body>

</html>